.footerContainer{
    width: 100%;
    height: 21%;
    background-color:aliceblue;
    justify-content:space-around;
    bottom: 0;
    display: flex;
    position: absolute;
}

.footerWrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.welcomeText{
    font-size: 45px;
}
.subHeading{
    font-size: 25px;
    color: rgb(138, 42, 165);
}
.horiz{
    margin-top: 15px;
    background-color:rgba(196, 74, 230, 0.481);
    border: none;
    border-radius: 30px;
}